.container {
  background-color: white;
  width: 500px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 30px;
  position: relative;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.picture {
  width: 300px;
  height: 300px;
}

.buttonBox {
  position: absolute;
  top: 30px;
  right: 30px;
}
